.container {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    padding: 5px;
    margin: 5px;
}

th {
    padding: 5px;
    margin: 5px;
}

table {
    margin: 10px;
    border-collapse: collapse;
    text-align: center;
}